# production|local
APP_ENV=local

# true|false
SESSION_COOKIE_SECURE=false

# database
MYSQL_HOST=mysql
MYSQL_DATABASE=api
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password

# OAuth 2.0 クライアント ID
# https://console.cloud.google.com/apis/credentials?project=standupcomedy-510023
# ローカルルール：SERVICEKEY は $service_key と一致させる必要あり
# 例: DEMO_GOOGLE_CLIENT_ID=1234
SERVICEKEY_GOOGLE_CLIENT_ID=xxx
SERVICEKEY_GOOGLE_CLIENT_SECRET=xxx
SERVICEKEY_GOOGLE_REDIRECT_URI=http://localhost:8092/auth/google/callback