MYSQL_HOST=mysql
MYSQL_DATABASE=api
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root_password

# OAuth 2.0 クライアント ID
# https://console.cloud.google.com/apis/credentials?project=standupcomedy-510023
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REDIRECT_URI=http://localhost:8092/auth/google/callback